
/* Your CSS Code here. */
nav{
	background-color:black;
	padding:10px
}
nav a{
	        color: white;
            text-decoration: none;
            margin-right: 20px;
            font-weight: bold;
}
nav a:hover{
	color:blue;
}
ul {
    list-style-type: disc;
    text-align: left;
    display: inline-block;
}